/* main header/name below */
h1{
  font-family: 'Playfair Display', serif;
    color:#bfd8d1;
    font-size: 70px;
    display: -ms-flexbox;
    flex-wrap: wrap;
    text-align: center
}
/* below hover and color element for name  */
h1:hover{
    color:#ee8080;
    font-size: 70px;

}

img{
  border-radius: 50%;
  height: 50%;
  width: 50%;
  padding-left: 70px;
  display: flex;
  
  
  
}



/* .profileimage{
  width: 40px;
  height: 330px;
  padding-left: 40px;
  padding-top: 12px;
  display: flex;
  border: lightcoral;
  opacity: 1.0;
  display: flex;
  justify-content:right;
  
} */

  .right-bg{

  }


/* subheading  */
#openingp{
  font-family: 'Prata', serif;
   text-align: center;
   color: #bfd8d1;
   font-size:45px ;
   
}

#openingp:hover{
  color: #ee8080;
    font-family: 
    font-size: 45px;
}


/* hamburgericon links and position */
.bar1{
  
  
}


/* .Hamburgericon{
   
    cursor: pointer;
    
    content: ;
    
    
  } */
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:lightpink;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
      color: lightskyblue;
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  /* to add javascript <script> to transform below

  function myFunction(x) {
  x.classList.toggle("change");
} */
 
#Contactlink{
    font-family:monospace;
    font-size: small;
    font-style: oblique;
}


#indexBody{

    background-color:rgb(255, 255, 255)
}

/* @import "bourbon"; */

html {
  font-family: sans-serif;
  font-size: 13px;
  
}
.container {
  position: relative;
  background: #f1f1f1;
  margin: 70px auto;
  width: 80%;
  height: 500px;
}
.left-bg, .right-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  transition: .20s ease;
  
}
.left-bg {
  background-color: #2b374b;
  left: 0;
}
.right-bg {
  background-color:#178a94;
  background-position: right;
  right: 0;
}
.right-bg:before {
  content: "J  S";
  
  font-weight: bold;
  position: absolute;
  background: #ee8080;
  text-align: center;
  width: 70px;
  height: 30px;
  line-height: 30px;
  border-radius: 20px;
  top: 150px;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
}
.right-bg:after {
  content: " ";
  height: 280px;
  width: 1px;
  background-color: white;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 20px;
}
.right-bg:after {
  right: 0;
}
.left-bg:hover {
  width: 60%;
}
.left-bg:hover + .right-bg {
  width: 40%;
}
.right-bg:hover {
  width: 60%;
}
.right-bg:hover + .left-bg {
  width: 40%;
}

/* navbar design */
body {
box-sizing:border-box;
margin: 20px;
padding: 10px;
}

#main-navbar {
  font-size: 25px;
  
 
}

#main-navbar ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#main-navbar li {
  display: inline-block;
  padding: 10px 20px;
}

#main-navbar li a {
  text-decoration: none;
  color:#2b374b;
  font-family: 'Prata', serif;
}

#main-navbar li a:hover {
  padding-bottom: 3px;
  color: #ee8080;
}


#para3{
  font-family: 'Prata', serif;
  font-size: 20px;
}